{@com.gdevxy.blog.model.BlogPostDetail blogPostDetail}
{@java.util.Map images}

{#include base}

    {#pageTitle}{blogPostDetail.seo.title}{/pageTitle}
    {#pageDescription}{blogPostDetail.seo.description}{/pageDescription}
    {#pageRobots}{blogPostDetail.seo.robotHint}{/pageRobots}

    {#extraCss}
        <link rel="stylesheet" href="/webjars/highlightjs/styles/stackoverflow-dark.min.css"/>
    {/extraCss}

    {#extraJs}
        <script src="https://www.google.com/recaptcha/api.js?render=6Lc7vagqAAAAAKi_E_E275yxYo_B80-RvOVmVaid"></script>
        <script src="/webjars/highlightjs/highlight.min.js"></script>
        <script src="/webjars/highlightjs/languages/java.min.js"></script>
        <script src="/webjars/highlightjs/languages/json.min.js"></script>
        <script src="/webjars/highlightjs/languages/xml.min.js"></script>
        <script>hljs.highlightAll();</script>
    {/extraJs}

    {#extraBundle}
        {#bundle key="blogpage" tag="script" /}
    {/extraBundle}

    {#withProgressBar}{/withProgressBar}

    <div class="rounded-top bg-body-tertiary">

        <div class="card background-purple rounded-top" style="border: none; border-radius: unset">
            <div class="row g-0">
                <div class="col">
                    <img src="{blogPostDetail.image.url}?w=200" class="img-fluid rounded-top rounded-end-0 fit-all" style="min-height: 200px" alt="{blogPostDetail.image.title}">
                </div>
                <div class="col-sm-10">
                    <div class="card-body">
                        <h1 class="card-title">{blogPostDetail.title}</h1>
                        <p class="card-text my-2 fs-5">{blogPostDetail.description}</p>
                        <p class="card-text position-absolute bottom-0 end-0 p-2"><small class="text-body-secondary" data-date="{blogPostDetail.publishedDate}"></small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-3 g-0">
            {#if blogPostDetail.withIndexHeading}
                <div class="col-2 d-none d-xl-flex flex-column">
                    <div id="index" class="mt-auto sticky-bottom pb-3">
                        <div class="ps-3">
                            <hr>
                        </div>
                        {#for block in blogPostDetail.blocks}
                            {#if block.node.indexHeading}
                                {#include blog/blog-index block=block index=block.blocks[0] /}
                            {/if}
                        {/for}
                    </div>
                </div>
                <div class="col-xl-10">
            {#else}
                <div class="col">
            {/if}
                {#for block in blogPostDetail.blocks}
                    {#when block.node}
                        {#is EMBEDDED_ENTRY}
                            {#include blog/blog-image imageId=block.value images=images /}
                        {#is HEADING_1}
                            {#include blog/blog-header heading=1 value=block.blocks[0] /}
                        {#is HEADING_2}
                            {#include blog/blog-header heading=2 value=block.blocks[0] /}
                        {#is HEADING_3}
                            {#include blog/blog-header heading=3 value=block.blocks[0] /}
                        {#is HEADING_4}
                            {#include blog/blog-header heading=4 value=block.blocks[0] /}
                        {#is HEADING_5}
                            {#include blog/blog-header heading=5 value=block.blocks[0] /}
                        {#is HEADING_6}
                            {#include blog/blog-header heading=6 value=block.blocks[0] /}
                        {#is OL_LIST}
                            {#include blog/blog-ordered-list blocks=block.blocks /}
                        {#is PARAGRAPH}
                            {#include blog/blog-paragraph blocks=block.blocks /}
                        {#is UL_LIST}
                            {#include blog/blog-unordered-list blocks=block.blocks /}
                        {#else}
                    {/when}
                {/for}
            </div>
        </div>

        <div class="row g-0 mt-1 bg-body-secondary">
            {#if blogPostDetail.withIndexHeading}
                <div class="col-2 d-none d-xl-flex flex-column">
                    &nbsp;
                </div>
                <div class="col-xl-10 text-end">
            {#else}
                <div class="col text-end">
            {/if}
                <div class="blog-paragraph">
                    <span class="d-inline d-sm-none">Leave a thumbs up</span>
                    <span class="d-none d-sm-inline">Leave a thumbs up if you liked it</span>
                    <span class="ps-2"><button id="btnRate" name="{blogPostDetail.id}" type="button" class="btn btn-dark bi bi-hand-thumbs-up-fill {#if blogPostDetail.liked}thumbs-up-success{/}"></button></span>
                </div>
            </div>
        </div>

    </div>

    {#fragment id=blog_post_comments}
        {#include blog/blog-comment slug=blogPostDetail.id comments=blogPostDetail.comments /}
    {/fragment}

    {#if blogPostDetail.relatedBlogPosts}
        <div class="row g-0">
            <div class="col-12">
            <span class="fst-italic">Related blog posts</span>
            <hr />
            {#for relatedBlogPost in blogPostDetail.relatedBlogPosts}
                {#if relatedBlogPost_isFirst}/{/if}&nbsp;<a href="/blog-posts/{relatedBlogPost.slug}" class="text-decoration-none link-opacity-100 link-opacity-75-hover">{relatedBlogPost.title}</a>&nbsp;/
            {/for}
            </div>
        </div>
    {/if}

{/include}
