{@com.gdevxy.blog.model.BlogPost blogPost}

{#include base}

    {#pageTitle}{blogPost.seo.title}{/pageTitle}
    {#pageDescription}{blogPost.seo.description}{/pageDescription}
    {#pageRobots}{blogPost.seo.robotHint}{/pageRobots}

    {#extraJs}
        <link rel="stylesheet" href="/webjars/highlightjs/styles/stackoverflow-dark.min.css"/>
        <script src="/webjars/highlightjs/highlight.min.js"></script>
        <script src="/webjars/highlightjs/languages/java.min.js"></script>
        <script src="/webjars/highlightjs/languages/json.min.js"></script>
        <script src="/webjars/highlightjs/languages/xml.min.js"></script>
        <script>hljs.highlightAll();</script>
    {/extraJs}

    <div class="mb-5 pb-5 rounded-top bg-body-tertiary">

        <div class="card mb-4 background-purple rounded-top" style="border: none; border-radius: unset">
            <div class="row g-0">
                <div class="col">
                    <img src="{blogPost.image.url}?w=200" class="img-fluid rounded-top rounded-end-0 fit-all" style="min-height: 200px" alt="{blogPost.image.title}">
                </div>
                <div class="col-sm-10">
                    <div class="card-body">
                        <h1 class="card-title">{blogPost.title}</h1>
                        <p class="card-text my-2 fs-5">{blogPost.description}</p>
                        <p class="card-text position-absolute bottom-0 end-0 p-2"><small class="text-body-secondary">{blogPost.publishedDate.formatted}</small></p>
                    </div>
                </div>
            </div>
        </div>

        {#for block in blogPost.blocks}
            {#when block.node}
                {#is EMBEDDED_ENTRY_BLOCK}
                    {#include blog/blog-image image=block.image /}
                {#is HEADING_1}
                    {#include blog/blog-header heading=1 value=block.blocks[0].value}{/include}
                {#is HEADING_2}
                    {#include blog/blog-header heading=2 value=block.blocks[0].value}{/include}
                {#is HEADING_3}
                    {#include blog/blog-header heading=3 value=block.blocks[0].value}{/include}
                {#is HEADING_4}
                    {#include blog/blog-header heading=4 value=block.blocks[0].value}{/include}
                {#is HEADING_5}
                    {#include blog/blog-header heading=5 value=block.blocks[0].value}{/include}
                {#is HEADING_6}
                    {#include blog/blog-header heading=6 value=block.blocks[0].value}{/include}
                {#is PARAGRAPH}
                    {#include blog/blog-paragraph blocks=block.blocks /}
                {#is UNORDERED_LIST}
                    {#include blog/blog-unordered-list blocks=block.blocks /}
                {#else}
            {/when}
        {/for}

    </div>

{/include}
