{#if marks}
    {#for mark in marks}
        {#when mark}
            {#is BOLD}
                <span class="fw-bold text-neon">{value}</span>
            {#is ITALIC}
                <span class="fst-italic">{value}</span>
            {#is UNDERLINE}
                <span class="text-decoration-underline">{value}</span>
            {#is CODE}
                <pre class="m-0" style="margin-bottom: -1rem">
                <code>{value}</code>
                </pre>
        {#else}
            {value}
        {/when}
    {/for}
{#else}
    {value}
{/if}
