{@java.lang.String slug}
{@java.lang.Integer commentId}
{@java.lang.Boolean show}

<form id="formComment{commentId}" data-comment-id="{commentId}" class="collapse {#if show}show{/if}" action="/blog-posts/{slug}/comment{#if commentId}/{commentId}{/if}">

    <div class="form-floating has-validation mb-2">
        <input id="commentAuthor{commentId}" name="author" type="text" class="form-control" placeholder="Author"/>
        <label for="commentAuthor{commentId}">Author</label>
        <div id="validationCommentAuthorFeedback{commentId}" class="invalid-feedback"></div>
    </div>

    <div class="form-floating has-validation mb-1">
        <textarea id="commentComment{commentId}" name="comment" class="form-control" placeholder="Write a comment..." style="height: 200px" aria-required="true" maxlength="2000" required></textarea>
        <label for="commentComment{commentId}">Leave a comment...</label>
        <div id="validationCommentCommentFeedback{commentId}" class="invalid-feedback"></div>
        <div class="form-text">
            Remaining characters: <span id="commentCharCounter{commentId}">2000</span>
        </div>
    </div>

    <div class="text-end">
        <button type="submit" class="btn btn-dark">Send</button>
    </div>

</form>
