.background-purple {
    background-color: #23123B
}

.blog-header{
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.blog-paragraph {
    padding: 1rem 3rem !important;
    font-size:1.25rem !important;
}

@media only screen and (max-width: 767px) {
    .blog-paragraph {
        padding: 1rem 1rem !important;
        font-size: 1.25rem !important;
    }
    .blog-header{
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
}

.card-with-effect {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    overflow: hidden
}

.card-with-effect:hover {
    color: #fff;
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}

.card-with-effect .backgroundEffect {
    bottom: 0;
    height: 0px;
    width: 100%;
}

.card-with-effect:hover .backgroundEffect {
    bottom: 0;
    height: 221px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: #23123B;
}

.card-with-effect .card-link-hidden {
    opacity: 0;
    overflow: hidden;
    height: 0;
    width: 0;
    display: block;
}

.fit-all {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.text-neon {
    color: #FE0BEF
}
