<div class="col">
    <div class="card bg-body-tertiary">
        <div class="backgroundEffect"></div>
        <img src="app/img/blog-default.jpeg" class="card-img-top" style="width: 100%; height: 250px; object-fit: cover; object-position: 50% 50%;" alt="blog-1">
        <div class="card-body overflow-auto" style="height: 180px">
            <h5 class="card-title">{#insert cardTitle}Card Title{/}</h5>
            <p class="card-text">{#insert cardBody}Card Body{/}</p>
            <a href="{#insert cardUrl}#{/}" class="card-link-hidden stretched-link">Read more</a>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">{#insert cardTimestamp}Card Timestamp{/}</small>
        </div>
    </div>
</div>