name: Release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true

    name: Release

    steps:

      - name: Repository checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: GraalVM set up
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '25'
          distribution: 'graalvm-community'
          cache: 'maven'
          native-image-job-reports: 'true'
          native-image-pr-reports: 'true'

      - name: Node.js set up
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: 'frontend/package-lock.json'

      - name: Certify native
        run: |
            mvn -B clean verify -Pnative \
              -Dquarkus.http.host=0.0.0.0 \
              -Dquarkus.container-image.build=true \
              -Dquarkus.native.container-build=true \
              -Dquarkus.test.arg-line="--add-host host.docker.internal:host-gateway"
